In [44]:
# this is a comment
# this is also a comment
print("this isn't a comment")

this isn't a comment

In [45]:
""" this is a comment
the comment continues here,
here too
and here it ends """

' this is a comment\nthe comment continues here,\nhere too\nand here it ends '

In [46]:
print("hello world!")
print(20)
print(20.5)

hello world!
20
20.5

In [47]:
print("Apple", 20, 30.45)

Apple 20 30.45

In [48]:
print("Apple", "Pear", "Grape", sep=" - ")

Apple - Pear - Grape

In [49]:
print("Apple", "Pear", end=" Fim")

Apple Pear Fim

In [50]:
print("This is a long text,\nI want to break the line")

This is a long text,
I want to break the line

In [51]:
print("Apple", "Pear", sep='\n')

Apple
Pear

In [52]:
print("%s's total score was %s points" % ("Felippe", 10))

Felippe's total score was 10 points

In [53]:
print("{}'s total score was {} points".format("Felippe", 10))

Felippe's total score was 10 points

In [54]:
print("Felippe" + "'s total score was " + "10" + " points")

Felippe's total score was 10 points

#### 1 - Print your full name, age and height using a print for each value.

In [56]:
print("Felippe Andrade de Menezes")
print(17)
print(1.8)

Felippe Andrade de Menezes
17
1.8

2 - Print your full name, age and height using only one print for all values.

In [57]:
print(f"full name: {'Felippe Andrade de Menezes'}\n"
      f"age: {17}\n"
      f"height: {1.8}")

full name: Felippe Andrade de Menezes
age: 17
height: 1.8

3 - Print 3 numbers of your choice in the same print, but separated by the '-' character.

In [58]:
print(1, 5, 7, sep="-")

1-5-7